:root {
  --q-relative-font-size: 100%;
  --q-font-weight: normal;
  --q-font-family: Roboto;
}

html {
  background-color: white;
}
html.invert-colors {
  filter: invert(100%);
}

body {
  font-family: var(--q-font-family);
  font-size: var(--q-relative-font-size);
  font-weight: var(--q-font-weight);
  background: var(--q-color1);
  color: var(--q-color2);
}

.q-field__native, .q-field__prefix, .q-field__suffix, .q-field__input, .q-field__label {
  color: var(--q-color2);
}
