:root {
  --q-relative-font-size: 100%;
  --q-font-weight: normal;
  --q-font-family: Roboto;
}

html {
  background-color: white;

  &.filter__invert {
    filter: invert(100%);
  }
  &.filter__grayscale {
    filter: grayscale(100%);
  }
  &.filter__protanopia {
    filter: url(#protanopiaColourMatrix);
  }
  &.filter__protanomaly {
    filter: url(#protanomalyColourMatrix);
  }
  &.filter__deuteranopia {
    filter: url(#deuteranopiaColourMatrix);
  }
  &.filter__deutranomaly {
    filter: url(#deutranomalyColourMatrix);
  }
  &.filter__tritanopia {
    filter: url(#tritanopiaColourMatrix);
  }
  &.filter__tritanomaly {
    filter: url(#tritanomalyColourMatrix);
  }
  &.filter__achromatopsia {
    filter: url(#achromatopsiaColourMatrix);
  }
  &.filter__achromatomaly {
    filter: url(#achromatomalyColourMatrix);
  }
}

body {
  font-family: var(--q-font-family);
  font-size: var(--q-relative-font-size);
  font-weight: var(--q-font-weight);
  background: var(--q-color1);
  color: var(--q-color2);
}

.q-field__native, .q-field__prefix, .q-field__suffix, .q-field__input, .q-field__label {
  color: var(--q-color2);
}
